<div class="sixteen columns">
  <h2>Fine to <%= @fine.brother.name %></h2>
  <ul>
    <ul>Amount: <%= @fine.formatted_amount %></ul>
    <ul>Date Assigned: <%= @fine.formatted_date %></ul>
    <ul>Reason: "<%= @fine.reason %>"</ul>
  </ul>
  <%= link_to 'Send Reminder', remind_fine_path %> <br>
  <%= link_to 'Delete Fine', delete_fine_path, :method => :delete %> <br><br>

  <%= link_to 'Back', root_path %>
</div>