<!DOCTYPE html>
<html>
<head>
  <title>SigepFines</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="ten columns">
    <h1 class="header">Sigep Fines</h1>
  </div>
  <hr />

  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>
    
  <%= yield %>
</div>

</body>
</html>
